<div class="row">
	<div class="col-xs-12">
		<p class="alert alert-warning">
			This is a beta and limited version. Please, take into account that it may present errors and not so well explained restrictions of the usage.  Thanks in advance for using and testing it :)
		</p>
	</div>
</div>
<div class="row">
	<div class="col-md-3 col-xs-6" ui-view="topic_config">
	</div>
	<div class="col-md-9 col-xs-6">
		<uib-tabset>
		    <uib-tab>
		    	<uib-tab-heading>
		    		<span class="fa fa-list"></span>
	            	Select and discard tweets
	            </uib-tab-heading>
		    	<br/>
		    	<div class="row">
		    		<div class="col-xs-12">
		    			<p class="text text-warning" ng-if="searching">Searching...</p>

		    		</div>
					<div class="col-xs-6" ng-show="topicStatus!='2'" ui-view="tweet_search"></div>
					<div class="col-xs-6" ng-show="topicStatus=='2'" ui-view="tweet_label_request"></div>
				</div>
			</uib-tab>
			<!-- <uib-tab>
		    	<uib-tab-heading>
		    		<span class="fa fa-star"></span>
		    		Saved tweets
		    	</uib-tab-heading>
		    	<br/>
	        	<div class="row">
	        		<div class="col-xs-6" ui-view="tweet_saved"></div>
	        	</div>
	        </uib-tab> -->
		</uib-tabset>
	</div>
</div>