<div class="row">
	<div class="col-xs-12">
		<form name="topicConfigForm" ng-submit="twitterSearch()">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span class="fa fa-search"></span>&nbsp;&nbsp;Search on twitter
					<span class="pull-right badge">1</span>
				</div>
				<div class="panel-body">
					<fieldset class="form-group">
						<div class="col-xs-12">
							<p><span class="glyphicon glyphicon-info"></span>Search over twitter and select the most relevant tweets. This will help us to know which are the topics of your interest</p>
						</div>
						<div class="col-md-9">
							<input
								type="text"
								class="form-control"
								ng-model="topic.search"
								placeholder="Write a search and type return"/>
						</div>
						<div class="col-md-1">
							<button type="button" ng-click="twitterSearch()" class="btn btn-primary">
								Search
							</button>
						</div>
					</fieldset>
				</div>
			</div>
		</form>
	</div>
	<div class="col-xs-12">
		<br/>
		<div class="panel panel-default">
			<div class="panel-heading">Explaining the process:</div>
			<div class="panel-body">
				<ul>
					<li>Search over twitter and select the most relevant tweets.</li>
					<li>When you think that you've got a relevant sample, ask for new tweets</li>
					<li>We'll send you proposed tweets that fit your interests.</li>
					<li>By discarding or saving them, you'll help our system to improve our recommendations</li>
				</ul>
			</div>
		</div>
	</div>
</div>